body{
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 670px;
    
}

#principal{
    height: 500px;
    width: 700px;
    background-color: black;
    border-radius: 40px;
}

#escolhas{
    width: 100%;
    height: 250px;
    
    border-radius: 40px;

    display: flex;
}

#escolha-computador{
    width: 50%;
    height: 250px;
    border-radius: 40px;
   
    text-align: center;
}

.h3{
    color: gray;
}

#escolha-sua{
    width: 50%;
    height: 250px;
    border-radius: 40px;
    text-align: center;
}

.destaque{
    color: white;
}

#resultados{
    width: 100%;
    height: 150px;
    border-radius: 40px;
    text-align: center;
}

#padding{
    padding-top: 20px;
}

#botoes{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px
}

button{
    width: 70px;
    height: 30px;
    background-color: blueviolet;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
}

button:hover{
    cursor: pointer;
    background-color: blue;
}

#p{
    color: white;
}