body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 270px;


}

#principal {
    height: 900px;
    width: 1000px;
    background-color: #015597;
    border-radius: 40px;
}

#escolhas {
    width: 100%;
    height: 350px;
    border-radius: 40px;

    display: flex;
}

#escolha-computador {
    width: 50%;
    height: 350px;
    border-radius: 40px;
    text-align: center;
}

.h3 {
    color: white;
}

#escolha-sua {
    width: 50%;
    height: 350px;
    border-radius: 40px;
    text-align: center;
}

.destaque {
    color: white;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#resultados {
    width: 100%;
    height: 350px;
    border-radius: 40px;
    text-align: center;
}

#padding {
    padding-top: 20px;
}

#botoes {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px
}

button {
    width: 150px;
    height: 100px;
    background-color: white;
    color: #015597;
    border: 3px solid black;
    border-radius: 40px;
    font-size: 22px;
    font-family: 'Gabarito', sans-serif;

}

button:hover {
    cursor: pointer;
    background-color: #015597;
    color: white;
    font-family: 'Gabarito', sans-serif;
}

#p {
    color: white;
    font-size: 30px;
    font-family: 'Gabarito', sans-serif;
}

.h3 {
    font-size: 30px;
    font-family: 'Gabarito', sans-serif;
}

#footer {
    padding-top: 140px;

    font-family: 'Gabarito', sans-serif;
}

@media screen and (max-width:500px){
    #principal{
        height: 600px;
        width: 300px;
        padding: 0px;
    } 

    .h3{
        font-size: 20px;
    }

    .p{
        font-size: 20px;
    }

    .destaque{
        font-size: 20px
    }

    #escolha-computador{
        height: 250px;
    }

    #escolha-sua{
        height: 250px;
    }

    #escolhas{
        height: 250px;
    }

    #botoes{
        padding: 0px;
        height: 30px;
    }
    button{
        width: 70px;
        height: 60px;
        font-size: 13px;
    }

    #resultados{
        height: 230px;

    }
    body{
        margin-top: 130px;
    }
  }
